@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Poppins', sans-serif;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #191923;
}
.profile-box{
    position: relative;
    left: 30px;
    height: 96%;
    width: 18%;
    background-color: #20202A;
    display: flex;
    justify-content:start;
    flex-direction: column;
    align-items: center;
}
.outer-centerbox{
  height: 96vh;
  width: 72%;
  overflow-y:scroll;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(5, 6, 3, 0.6)),
    url("images/exploremore4.jpg");
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);

}

.outer-centerbox::-webkit-scrollbar{
  display: none;
}
.outer-centerbox{
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.centre{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.nav-bar{
    position: relative;
    right: 30px;
    height: 96%;
    width: 4%;
    background-color: #20202A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s ease;
}
.links{
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}
.links a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    display: none;
    opacity: 0;
    
}
.links li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    height: 30px;
}

.profilebox-top{
    display:flex ;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 39%;
    background-color: #242430;
    opacity: 0.8;
}
.profilebox-top img{
    height: 45%;
    position: relative;
    top: 12px;
}
.profilebox-top h3{
    position: relative;
    color: rgb(219, 210, 210);
    font-weight: 550;
    font-size: 18px;
}
.profilebox-top p{
    position: relative;
    bottom: 12px;

    color: rgb(172, 164, 164);
    font-size: 11px;
}
.profilebox-bottom{
    width: 100%;
    height: 7%;
    background-color: #242430;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.profilebox-bottom img{
    height: 40%;
    filter: grayscale(1);
}
.profilebox-bottom img:hover{
    cursor: pointer;
    filter: grayscale(0);
}
.navbar-top{
    height: 10%;
    width: 100%;
    background-color: #242430;
}
.navbar-bottom{
    height: 10%;
    width: 100%;
    background-color: #242430;
}
.outer-middlebox{
  height: 500px;
  width: 100%;
  overflow-y: scroll;
}
.profilebox-middle{
      
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
}
.outer-middlebox::-webkit-scrollbar{
    display: none;
}
.info{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    top: 5px;
}
.left-info{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    height: 100%;
    width: 40%;
}
.left-info p{
    font-size: 13px;
    color: #E9E9EB;
}
.right-info{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    flex-direction: column;
    height: 100%;
    width: 40%;
}
.right-info p{
    font-size: 13px;
    color: #727276;
}
.nav-bar:hover{
    width: 15%;
}
.nav-bar:hover a{
    display: block;
    animation: nav 0.5s 0.4s ease forwards;
}
.nav-bar:hover li{
    padding: 30px;
    width: 100%;
    gap: 10px;
}
@keyframes nav{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.skill-circle{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70px;
}
.circle1{
    width: 55px;
    height: 55px;
    background: conic-gradient(
      rgb(255, 191, 0) 3.6deg,
      rgb(31, 31, 31) 0deg
    );
    border: 2px solid #262626;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle2{
    width: 55px;
    height: 55px;
    background-image: conic-gradient(
      rgb(255, 191, 0) 0deg,
      rgb(255, 191, 0) 288deg,
      #262626 250deg,
      #262626 360deg
    );
    border: 2px solid #262626;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle3 {
    width: 55px;
    height: 55px;
    background-image: conic-gradient(
      rgb(255, 191, 0) 0deg,
      rgb(255, 191, 0) 360deg,
      #262626 250deg,
      #262626 360deg
    );
    border: 2px solid #262626;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inner {
    width: 45px;
    height: 45px;
    background-color: #262626;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #727276;
    font-size: 13px;
    font-family: Arial;
  }
  .circle-tag{
    width: 105%;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .circle-tag p{
    font-size: 12px;
    color: white;
    position: relative;
    right: 15px;
  }
  .circle-tag p:nth-child(2){
    position: relative;
    right: 22px;
  }
  .skill-bar{
    display: flex;
    justify-content: space-evenly;
    align-items:start;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 12px;
  }
  .skill-bar ul{
    position: relative;
    left: 13px;
    width: 90%;
  }
  .skill-bar li{
    margin: 3px 0;
    padding: 10px;
  }
  .skill-bar p{
    color: white;
    font-size: 13px;
    margin-left: 5px;
  }
  .bar{
    background-color:#191923;
    display: block;
    height: 6px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius:10px ;
    overflow: hidden;
    margin: 5px;
    
  }

  .bar span{
    float: left;
    height: 6px;
    background-color: #FFBF00;
  }

  .loadanimation1{
    animation: loadanimation1 2s 1.2s ease-out forwards;
  }
  .loadanimation2{
    animation: loadanimation2 2s 1.5s ease-out forwards;
  }
  .loadanimation3{
    animation: loadanimation3 2s 1.8s ease-out forwards;
  }
  .loadanimation4{
    animation: loadanimation4 2s 2s ease-out forwards;
  }

  @keyframes loadanimation1{
    0%{
      width: 0%;
    }
    100%{
      width: 80%;
    }
  }
  @keyframes loadanimation2{
    0%{
      width: 0%;
    }
    100%{
      width: 60%;
    }
  }
  @keyframes loadanimation3{
    0%{
      width: 0%;
    }
    100%{
      width: 30%;
    }
  }
  @keyframes loadanimation4{
    0%{
      width: 0%;
    }
    100%{
      width: 90%;
    }
  }


  .html-bar{
    width:0%;
  }
  .css-bar{
    width:0%;
  }
  .javascript-bar{
    width:0%;
  }
  .selenium-bar{
    width:0%;
  }
  .profile-line{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .qualities{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .qualities-box{
    position: relative;
    left: 27px;
    display: flex;
    align-items: center;
    justify-content: c;
    height: 20px;
    margin: 3px;
  }
  .qualities-box img{
    height: 12px;
  }
  .qualities-box p{
    font-size: 12px;
    color: #727276;
    position: relative;
    left: 15px;
  }

  .exploremore-box{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 20px;
    height: 330px;
    width: 90%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(5, 6, 3, 0.4)),
    url("images/exploremore4.jpg");
    background-size: cover;
    background-position: center;
}
.exploremore-box span{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: relative;
  left: 60px;
  height: 80%;
  bottom: 20px;
}
  .exploreHeading{
    position: relative;
    font-size: 45px;
    color: white;
    font-weight: 700;
    
  }
  .explore-text{
    position: relative;
    top: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 70%;
    font-size: 19px;
    color: white;
    font-family: 'Source Code Pro', monospace;
  }
  
  .exploremore-box img{
    height: 380px;
    position: relative;
    left: 60px;
  }
  .about-me{
    color: white;
    height: 60vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-me p{
    font-size: 40px;
    position: relative;
  

  }
  .about-me span{
    position: relative;
    top: 30px;
    letter-spacing: 2px;
    height: 75%;
  }
  .aboutme-data span{
    font-family: 'Lato', sans-serif;
    line-height: 2;
    font-size: 20px;
  }
  .aboutme-data p{
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #f8d56e;
  }

  .qualification-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
    color: white;
    
  }
  .quali-heading {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    font-weight: 600;
    top: 20px;
    color: #f8d56e;
  }
  .quali-box{
    height: 100vh;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 30px;
    flex-wrap: wrap;
  }
  .qualification-items{
    height:60%;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    bottom: 40px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .appear2{
    animation: moves 0.6s ease forwards;
  }
  .appear3{
    animation: pop-up 0.8s ease forwards;
  }
  
  @keyframes moves {
    from{
        transform: translateX(-200px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes pop-up{
  0%{
      transform: translateY(-300px);
      opacity: 0;
  }
  70%{
      transform: translateY(30px);
  }
  100%{
      transform: translateY(0px);
       opacity:1;
  }
}

  .qitem-heading{
    font-size: 35px;
    color: white;
    font-weight: 500;
    font-family: 'Libre Baskerville', serif;
  }
  .qitem-text{
    font-size: 16px;
    width: 85%;
    text-align: center;
  }
  .qitem-score{
    font-size: 16;
    width: 85%;
    color: #FFBF00;
    text-align: center;
  }
  .outer-projectbox{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-me{
    height: 140vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .contact-heading{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #f8d56e;
  }
  .get-in-touch{
    height: 40%;
    width: 80%;
    background: rgba(255,255,255,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .message-me{
    height: 45%;
    width: 80%;
    background: rgba(255,255,255,0.1);
    flex-direction: column;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .git-heading{
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: 'Libre Baskerville', serif;

  }
  .git-data{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
  }
  .git-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 90%;
    width: 30%;
  }
  .git-items img{
    height: 75px;
    position: relative;
  }
  .git-items img:hover{
    cursor: pointer;
    animation: vibrate 0.3s ease forwards;
  }
  @keyframes vibrate{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}

  .git-address{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 90%;
}
.git-name{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    height: 100%;
    width: 40%;
}
.git-name p{
    font-size: 17px;
    color: #E9E9EB;
}
.git-answer{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    flex-direction: column;
    height: 100%;
    width: 55%;
}
.git-answer p{
    font-size: 17px;
    color:#FFBF00;
}
.git-mailbox{
  display: flex;
  flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 90%;
}
.git-mail{
  width: 100%;
}
.mail{
  margin: 5px;
  width: 100%;
  color: white;
  font-size: 17px;
}
.mail-add{
  color:#FFBF00;
  font-size: 17px;
}
.message-heading{
  font-size: 30px;
    text-align: center;
    color: white;
    font-family: 'Libre Baskerville', serif;
}
form{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.message-data{
  color: white;
  font-size: 25px;
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.message-left{
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  

}
.message-right{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
  position: relative;

}
.message-right input{
  width: 100%;
  height: 13%;
  border-radius: 20px;
  color: #FFBF00;
  
}
.message-right textarea{
  width: 100%;
  border-radius: 10px;
  color: #FFBF00;
  position: relative;
  top: 20px;
}
.input{
  position: relative;
  bottom: 25px;
}
.message-me .button{
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: #ffbf00df;
  color: white;
  position: relative;
  left: 290px;
}
.message-me .button:hover{
  background-color: #ffbf00df;
  box-shadow: 0.5px 0.5px 10px rgb(247, 243, 6);
  cursor: pointer;
}
.nav-bar:hover .outer-centerbox{
  width: 61%;
}