@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.mbox-projects{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 90%;
    font-family: 'Poppins', sans-serif;
    
}
.mbox-projects p{
    color: #f8d56e;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    height: 60px;
}
.project-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 600px;
    width: 100%;
    position: relative;
}

.items{
    height: 40%;
    width: 30%;
    border-radius:15px ;
    transition: all 0.2s ease;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items:nth-child(1){
    background-image: url("images/project1.png");
    background-position: center;
    background-size: cover;
}

.items:nth-child(2){
    background-image: url("images/Project2.png");
    background-position: center;
    background-size: cover;
    background-position: center;
}
.items:nth-child(3){
    background-image: url("images/project1.png");
    background-position: center;
    background-size: cover;
    background-position: center;
}
.items:nth-child(4){
    background-image: url("images/project1.png");
    background-position: center;
    background-size: cover;
    background-position: center;
}
.items:nth-child(5){
    background-image: url("images/project1.png");
    background-position: center;
    background-size: cover;
    background-position: center;
}
.items:nth-child(6){
    background-image: url("images/project1.png");
    background-position: center;
    background-size: cover;
    background-position: center;
}

.items:hover{
    cursor: pointer;
    height: 43%;
    width: 33%;
    border: 2px solid rgb(255, 255, 66);
    box-shadow: 0.8px 0.8px 10px rgb(255, 255, 66);
    transform: translateY(0px);
}

.items:hover .project-layer{
    transform: translateY(0);
}
.project-layer{
    transition: all 0.5s ease;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.1),#ffe390);
    transform: translateY(100%);
}
.layer-text{
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.layer-text button{
    background-color:#facd44 ;
    width: 30%;
    height: 25px;
    border: none;
}
.layer-text a{
    text-decoration: none;
    color: white;
    border-radius: 10px;
}
.layer-text button:hover{
    cursor: pointer;
    box-shadow: 0.3px 0.3px 8px #FFBF00;
}
.project-layer h2{
    color: white;

}
.project-layer p{
    color: white;
    font-size: 12px;
}
.srms h2{
    
}